/* Hai */
.navbar{
    height: 100px;
    background-color: red;
}
/* minh */
.content{
    height: 500px;
    background-color: blue;
}
/* Hung */
.footer{
    height: 100px;
    background-color: green;
}